.project
.pydevproject
.settings
.externalToolBuilders/
__pycache__
*.pyc
*.log
*.zip
*~
.idea/
build/
chromedriver
dist/
TestLiveServer.egg-info/
venv/
liveandletdie.egg-info/
venv26/
bootstrap/bootstrap.py
