Chameleon==2.14
Django==1.6.1
Flask==0.10.1
Jinja2==2.6
Mako==0.9.0
MarkupSafe==0.15
PasteDeploy==1.5.0
PyAMF==0.6.1
WebOb==1.2.3
Werkzeug==0.9.4
antlr-python-runtime==3.1.1
argparse==1.2.1
fuzzywuzzy==0.2
itsdangerous==0.23
lettuce==0.2.19
py==1.4.19
pyramid==1.4.5
pytest==2.5.1
repoze.lru==0.6
selenium==2.39.0
sure==1.2.3
translationstring==1.1
venusian==1.0a8
webapp2==2.5.2
wsgiref==0.1.2
zope.deprecation==4.0.2
zope.interface==4.0.5
